<div class="container">
  <div class="row">
    <div class="col">
      <h1> <%= @restaurant.name %> </h1>
      <p> <%= @restaurant.address %> </p>
    </div>
    <%= simple_form_for [ @restaurant, @review ] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
    <hr>
    <h3>Les reviews de ce restaurant sont les suivantes :</h3>

    <% @restaurant.reviews.each do |review| %>
      <ul>
        <li><%= review.content %> - pour une note de <%= review.rating %> / 5</li>
      </ul>
    <% end %>
    <hr>
      <%= link_to "Ajouter une review", new_restaurant_review_path(@restaurant) %>
      <br>
      <%= link_to "Home page", restaurants_path %>
  </div>
</div>
